<plist version="1.0">
<array>
<dict>
<key>download_url</key>
<string>
https://air-h-128k-il.github.io/horlix-content/plugins/horlix/PDFToDICOM/PDFToDICOM.horlixplugin.zip
</string>
<key>name</key>
<string>PDF to DICOM</string>
<key>url</key>
<string>
https://air-h-128k-il.github.io/horlix-content/plugins/horlix/PDFtoDICOM/html/index.html
</string>
<key>version</key>
<string>2.0</string>
</dict>
<dict>
<key>download_url</key>
<string>https://air-h-128k-il.github.io/horlix-content/plugins/horlix/JPEGtoDICOM/JPEGtoDICOM.horlixplugin.zip</string>
<key>name</key>
<string>JPEG to DICOM</string>
<key>url</key>
<string>https://air-h-128k-il.github.io/horlix-content/plugins/horlix/JPEGtoDICOM/html/index.html</string>
<key>version</key>
<string>2.0</string>
</dict>
<dict>
<key>download_url</key>
<string>
https://air-h-128k-il.github.io/horlix-content/plugins/horlix/CalciumScore/CalciumScore.horlixplugin.zip
</string>
<key>name</key>
<string>Calcium Score</string>
<key>url</key>
<string>
https://air-h-128k-il.github.io/horlix-content/plugins/horlix/CalciumScore/html/index.html
</string>
<key>version</key>
<string>2.0</string>
</dict>
<dict>
<key>download_url</key>
<string>
https://air-h-128k-il.github.io/horlix-content/plugins/horlix/CobbAngle/CobbAngle.horlixplugin.zip
</string>
<key>name</key>
<string>Cobb's Angle</string>
<key>url</key>
<string>
https://air-h-128k-il.github.io/horlix-content/plugins/horlix/CobbAngle/html/index.html
</string>
<key>version</key>
<string>2.0</string>
</dict>
<dict>
<key>download_url</key>
<string>
https://air-h-128k-il.github.io/horlix-content/plugins/horlix/ResampleData/ResampleData.horlixplugin.zip
</string>
<key>name</key>
<string>Resample Data</string>
<key>url</key>
<string>
https://air-h-128k-il.github.io/horlix-content/plugins/horlix/ResampleData/html/index.html
</string>
<key>version</key>
<string>2.0</string>
</dict>
<dict>
<key>download_url</key>
<string>
https://air-h-128k-il.github.io/horlix-content/plugins/horlix/InvertData/InvertData.horlixplugin.zip
</string>
<key>name</key>
<string>Invert Data</string>
<key>url</key>
<string>
https://air-h-128k-il.github.io/horlix-content/plugins/horlix/InvertData/html/index.html
</string>
<key>version</key>
<string>2.0</string>
</dict>
<dict>
<key>download_url</key>
<string>
https://air-h-128k-il.github.io/horlix-content/plugins/horlix/ADCMap/ADCMap.horosxplugin.zip
</string>
<key>name</key>
<string>ADCMap</string>
<key>url</key>
<string>
https://air-h-128k-il.github.io/horlix-content/plugins/horlix/ADCMap/html/index.html
</string>
<key>version</key>
<string>2.0</string>
</dict>
<dict>
<key>download_url</key>
<string>
https://www.amdentalsoft.net/download/horos-2/Dental3DPlugin.horlixplugin.zip
</string>
<key>name</key>
<string>Dental3DPlugin</string>
<key>url</key>
<string>
https://www.amdentalsoft.net/dental3Dplugin-horos-2/index.html
</string>
<key>version</key>
<string>3.2.0</string>
</dict>
</array>
</plist>
